.vsc-nosource {
  display: none !important;
}
.vsc-hidden {
  display: none !important;
}
.vsc-manual {
  visibility: visible !important;
  opacity: 1 !important;
}

.vsc-controller {
  /* In case of pages using `white-space: pre-line` (eg Discord), don't render vsc's whitespace */
  white-space: normal;
}
