#controller {
  font-family: sans-serif;
  font-size: 13px;
  position: absolute;
  color: white;
  background: black;
  border-radius: 5px;
  padding: 8px 5px;
  margin: 10px;
  z-index: calc(infinity);
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
